POSTGRES_URL=""
MAIN_POSTGRES_URL=""
BLOB_READ_WRITE_TOKEN=""
BLOB_URL=""
AUTH_SECRET=""
TEST_ACCOUNT_EMAIL=""
TEST_ACCOUNT_PASSWORD=""

PUSHER_APP_ID=""
PUSHER_KEY=""
PUSHER_SECRET=""
PUSHER_CLUSTER=""

RESEND_API_KEY=""
RESEND_API_ENDPOINT=""

NEXT_PUBLIC_PUSHER_KEY=""
NEXT_PUBLIC_PUSHER_CLUSTER=""
NEXT_PUBLIC_BASE_URL=""