@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

:root {
    --primary: #ca9fff;
    --background: #eae7e1;
    --background-alternative: #eaeaea;
    --white: #ffffff;
    --black: #171717;
    --faded: #838383;

    --red: #e32f30;
    --green: #97cc04;
    --orange: #ffb347;
    --blue: #07a0c3;

    --radius: 0.625rem;
}

@theme inline {
    --font-sans: var(--font-inter);
    --font-display: var(--font-gilda-display);

    --color-background: var(--background);
    --color-background-alternative: var(--background-alternative);
    --color-primary: var(--primary);
    --color-black: var(--black);
    --color-white: var(--white);
    --color-faded: var(--faded);
    --color-red: var(--red);
    --color-green: var(--green);
    --color-orange: var(--orange);
    --color-blue: var(--blue);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
    * {
        @apply border-faded;
    }
    body {
        @apply bg-background text-black font-sans text-[18px];
    }

    .h1 {
        @apply font-display text-4xl uppercase;
    }

    .h2 {
        @apply font-display text-3xl;
    }

    .h3 {
        @apply font-display text-2xl;
    }

    .font-faded {
        @apply uppercase text-sm text-faded font-bold;
    }

    .font-action {
        @apply font-bold;
    }

    p,
    span,
    div {
        @apply font-sans;
    }
}
